<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une Livraison</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="card shadow p-4">
        <h2 class="mb-4 text-center">Ajouter une Livraison</h2>

        <form th:action="@{/livraisons/save}" th:object="${livraisonForm}" method="post" class="row g-3">


            <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                <ul>
                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
                </ul>
            </div>

            <div class="col-md-6">
                <label for="dateLiv" class="form-label">Date de Livraison</label>
                <input type="date" id="dateLiv" th:field="*{dateOfLivraison}" class="form-control" required>
            </div>

            <div class="col-md-6">
                <label for="dateComd" class="form-label">Date Commande</label>
                <input type="text" id="dateComd" th:value="${#dates.format(livraisonForm.dateOfCmd, 'dd/MM/yyyy')}" class="form-control" readonly>
            </div>

            <div class="col-md-6">
                <label for="nom" class="form-label">Nom Commande</label>
                <input type="text" id="nom" th:field="*{productName}" class="form-control" readonly>
            </div>

            <div class="col-md-6">
                <label for="unite" class="form-label">Unité</label>
                <input type="text" id="unite" th:field="*{unite}" class="form-control" readonly>
            </div>


            <div class="col-md-6">
                <label for="qte" class="form-label">Quantité</label>
                <input type="number" id="qte" th:field="*{qte}" class="form-control" readonly>
            </div>

            <div class="col-md-6">
                <label for="destination" class="form-label">Client</label>
                <input type="text" id="destination" th:field="*{destination}" class="form-control" readonly>
            </div>

            <div class="col-md-6">
                <label for="source" class="form-label">Entrepôt</label>
                <input type="text" id="source" th:field="*{source}" class="form-control" readonly>
            </div>

            <div class="col-md-6">
                <label for="remarque" class="form-label">Remarque :</label>
                <input type="text" id="remarque" class="form-control" th:field="*{remarque}" required />
            </div>
            <div class="col-md-6">
                <label for="idd" class="form-label">commamdeID :</label>
                <input type="number" id="idd" class="form-control" th:field="*{commandeNumber}" readonly />
            </div>


            <div class="col-12 d-flex justify-content-end mt-4">
                <button type="submit" class="btn btn-primary me-2">Valider</button>
                <a th:href="@{/livraisons/add}" class="btn btn-secondary">Annuler</a>
            </div>

        </form>

    </div>
</div>
</body>
</html>
